code/*.o
code/*.cuo
code/quasarq
code/libquasarq.a
code/*.out
code/qasm2stim/qasm2stim
code/.DS_Store
draft/*.aux
draft/*.bbl
draft/*.blb
draft/*.blg
draft/*.gz
draft/*.log
draft/*.out
draft/parallel-quantum.pdf
draft/*-eps-converted-to.pdf
draft/*.zip
draft/*.dtmp
draft/*.DS_Store
draft/*drawio.bkp
