src/quasarq
src/libquasarq.a
src/*.stim
src/.vscode
src/*.sh
src/.DS_Store
circuits/*.stim
circuits/*.qasm
circuits/*.qstate
scripts
build
benchmark
bindings
tests/test_parser
tests/test_scheduler
tests/test_simulator
tests/test_sampling
tests/test_equivalence
src/binding/*.so
*.o
*.cuo
*.cuda.o
*.txt
*.qstate
*.01
*.out
*.pyc
__pycache__
/*.stim
.DS_Store
.vscode
